<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
<!--  김민지 작성코드 -->
  
<mapper namespace="com.mint.project.movie">
   <resultMap type="com.mint.project.dtos.MovieDto" id="MovieDto">
            <result property="mseq" column="mseq" />
         <result property="mimg" column="mimg" />
         <result property="mkeyw" column="mkeyw" />
         <result property="mshowdate" column="mshowdate" />
         <result property="mdirector" column="mdirector" />
         <result property="mtitle" column="mtitle" />
         <result property="mage" column="mage" />
         <result property="mactor" column="mactor" />
         <result property="msummary" column="msummary" />
         <result property="mgrade" column="mgrade" />
         <result property="mmdpick" column="mmdpick" />
         <result property="mfollow" column="mfollow" />
         <result property="m_useq" column="m_useq" />
       
   </resultMap>
   
   
<!--신규영화등록 -->
       <insert id="insertmovie" parameterType="MovieDto">
         INSERT INTO MOVIE_TABLE
         (MSEQ,MIMG,MKEYW,MSHOWDATE,MDIRECTOR,MTITLE,MAGE,MACTOR,MSUMMARY,MGRADE,MMDPICK,MFOLLOW)
         VALUES (MOVIE_TABLE_SEQ.NEXTVAL,#{mimg},#{mkeyw},#{mshowdate},#{mdirector},#{mtitle}
         ,#{mage},#{mactor},#{msummary},null,#{mmdpick},'0')
       </insert>
       
       
<!--영화정보수정 -->
       <update id="updatemovie" parameterType="MovieDto">
       UPDATE MOVIE_TABLE SET 
       MIMG=#{mimg},MKEYW=#{mkeyw},MSHOWDATE=#{mshowdate},MDIRECTOR=#{mdirector},MTITLE=#{mtitle}
       ,MAGE=#{mage},MACTOR=#{mactor},MSUMMARY=#{msummary},MGRADE=#{mgrade},MMDPICK=#{mmdpick}
       WHERE MSEQ=#{mseq}
       </update>
       
       
<!-- 영화삭제 -->
       <delete id="delmovie" parameterType="int">
         DELETE MOVIE_TABLE WHERE MSEQ=#{mseq}
       </delete>
       
       
<!--영화한편정보(상세) -->
       <select id="getmovieinfo" parameterType="int" resultType="MovieDto">
       SELECT * FROM MOVIE_TABLE WHERE MSEQ=#{mseq}
       </select>
       
       
<!--검색시 나오는 정보 -->
       <select id="getcertainmovieinfo" parameterType="String" resultType="MovieDto">
       SELECT * FROM MOVIE_TABLE WHERE MKEYW=#{mkeyw} ORDER BY MSEQ DESC 
       </select>
      
<!--전체영화정보 -->
       <select id="getallmovieinfo" resultType="MovieDto">
       SELECT * FROM MOVIE_TABLE ORDER BY MSEQ DESC
       </select>

<!--팔로우 유저 추가  -->
       <update id="updatefollow" parameterType="MovieDto">
      UPDATE MOVIE_TABLE SET MFOLLOW=(MFOLLOW||'#{mfollow}')||':' WHERE MSEQ=#{mseq}
<!--  UPDATE MOVIE_TABLE SET MFOLLOW=#{mfollow} WHERE MSEQ=#{mseq} -->
       </update>
       
<!-- 해당 영화를 팔로우 했는지 확인 -->
       <select id="chkfollow" parameterType="int" resultType="MovieDto">
          SELECT MTITLE FROM MOVIE_TABLE WHERE MFOLLOW LIKE '%:#{m_useq}:%'
       </select>
       
<!--팔로우 삭제 -->       
       <update id="delfollow" parameterType="Map">
       UPDATE MOVIE_TABLE SET MFOLLOW=REPLACE(MFOLLOW,':#{mfollow}:',':') WHERE MSEQ=#{mseq}
       </update>
       
 
</mapper>
