<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.mint.project.starpoint">
	<resultMap type="com.mint.project.dtos.StarpointDto" id="StarpointDto">
       	<result property="sseq" column="sseq" />
     	<result property="sgrade" column="sgrade" />
      	<result property="smseq" column="smseq" />
      	<result property="suseq" column="suseq" />
       
	</resultMap>
       
</mapper>